/* CSS DOCUMENT */
@charset "UTF-8" ;

@font-face {
    font-family: "Roboto Regular";
    src: url(img/fuentes/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto semi bold";
    src: url(img/fuentes/Roboto-SemiBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto italic";
    src: url(img/fuentes/Roboto-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

h1 { 
    font-family: 'Roboto semi bold', sans-serif;
    color: indigo;
}
h2 {
    font-family: 'Roboto semi bold', sans-serif;
    color: palevioletred;
}
h3 {
    font-family: 'Roboto regular', sans-serif;
}
p {
    font-family: 'Roboto regular', sans-serif;
}
.info {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: flex-start
}